appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
html5lib==0.9999999
idna==2.5
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.6
keepalive==0.5
MarkupSafe==1.0
music21==4.1.0
packaging==16.8
pygame==1.9.3
pyparsing==2.2.0
python-midi==0.2.4
rdflib==4.2.1
requests==2.17.3
six==1.10.0
SPARQLWrapper==1.7.6
Unidecode==0.4.20
urllib3==1.21.1
Werkzeug==0.14.1
