
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('.static', filename='img/favicon.ico')}}">

    <title>SPARQL-DJ</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90842480-1', 'auto');
  ga('send', 'pageview');

  </script>

  <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>

    <!-- Custom styles for this template -->
    <link href="{{url_for('.static', filename='css/midi-ld.css')}}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="http://virtuoso-midi.amp.ops.labs.vu.nl/sparql">SPARQL endpoint</a></li>
	    <li role="presentation"><a href="https://github.com/midi-ld/midi2rdf/issues">Issues</a></li>
            <li role="presentation"><a href="https://github.com/midi-ld/">GitHub</a></li>
            <li role="presentation"><a href="mailto:albert.merono@vu.nl">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">SPARQL-DJ</h3>
      </div>

      <div class="jumbotron">
        <img src="{{url_for('.static', filename='img/logo.png')}}"></img>
        <h1>SPARQL-DJ</h1>
        <p class="lead">Mashup like a Linked Data pro!</p>

      </div>

      <div class="col-lg-12">
        <div id="group1" class="form-group">
          <label for="query">Search for your first MIDI</label>
          <div class="input-group">
          <input type="text" class="form-control" id="query" placeholder="Try e.g. 'Black Sabbath' or 'War Pigs'">
          <span class="input-group-btn">
            <button style="" class="btn btn-default" id="search">Search</button>
          </span>
        </div>
        </div>

      </div>

      <div class="col-lg-12">
        <table class="table table-hover table-condensed" id="song1table">
        </table>
      </div>

      <div class="col-lg-12">
        <div id="group2" class="form-group" style="display:none;">
          <label for="query">Search for your second MIDI</label>
          <div class="input-group">
          <input type="text" class="form-control" id="query2" placeholder="Try e.g. 'Black Sabbath' or 'War Pigs'">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="Same tempo values?" id="sametempo" checked> Same tempo values</input>
          </span>
          <span class="input-group-btn">
            <button style="" class="btn btn-default" id="search2">Search</button>
          </span>
          </div>
        </div>
        </div>

        <div id="tempogroup" class="col-lg-12" style="display:none;">
              <p>Specify tempo values for the second MIDI (leave empty for any)</p>

          <div class="form-inline col-lg-12">
            <div class="row col-lg-12">
            <div class="form-group">
              <label for="resolution" style="margin-right:10px;">Resolution</label>
              <input type="text" class="form-control form-margin" id="resolution" placeholder="E.g. 480">
            </div>
            <div class="form-group">
              <label for="metronome" style="margin-right:10px;">Metronome</label>
              <input type="text" class="form-control form-margin" id="metronome" placeholder="E.g. 24">
            </div>
          </div>
          <div class="row col-lg-12">
            <div class="form-group">
              <label for="numerator" style="margin-right:10px;">Numerator</label>
              <input type="text" class="form-control form-margin" id="numerator" placeholder="E.g. 4">
            </div>
            <div class="form-group">
              <label for="denominator" style="margin-right:10px;">Denominator</label>
              <input type="text" class="form-control form-margin" id="denominator" placeholder="E.g. 4">
            </div>
          </div>
          <div class="row col-lg-12">
            <div class="form-group">
              <label for="thirtyseconds" style="margin-right:10px;">Thirtyseconds</label>
              <input type="text" class="form-control form-margin" id="thirtyseconds" placeholder="E.g. 8">
            </div>
          </div>


          </div>
        </div>



      <div class="col-lg-12">
        <table class="table table-hover table-condensed" id="song2table">
        </table>
      </div>


      <div class="col-lg-12">
        <div id="group3" class="form-group" style="display:none;">
          <label for="query">Select tracks</label>
          <div class="input-group" id="checkboxes">

        </div>


          <span class="input-group-btn">
            <div class="col-lg-12 text-center" style="margin-top: 20px">
              <button class="btn btn-default" id="playtracks">Play</button>
              <button class="btn btn-default" id="stoptracks">Stop</button>
              <a href="/static/midi/mashup.ttl" target="_blank"><button class="btn btn-default" id="downloadtracks" disabled>Download</button></a>
            </div>
          </span>
        </div>

      </div>

      <div class="row marketing">
        <div class="col-lg-12">



	<p>Go back to <a href="https://midi-ld.github.io/">MIDI Linked Data</a>.</p>

        </div>
      </div>



      <footer class="footer">
        <p>&copy; 2016-2017 Albert Mero&ntilde;o-Pe&ntilde;uela. Vrije Universiteit Amsterdam</p>
      </footer>

    </div> <!-- /container -->

<script>

var hash1 = "";
var hash2 = "";
var hash1_resolution = 0;
var hash1_denominator = 0;
var hash1_metronome = 0;
var hash1_numerator = 0;
var hash1_thirtyseconds = 0;

// $('#downloadtracks').click(function(e){
//     $.ajax({
//       url : '/static/midi/mashup.ttl',
//       success : function(data) {
//         console.log(data);
//       }
//     });
// });


// disable send buttons if query text is empty
$(document).ready(function(){
    $('#search').attr('disabled',true);
    $('#query').keyup(function(){
        if($(this).val().length !== 0)
            $('#search').attr('disabled', false);
        else
            $('#search').attr('disabled',true);
    });

    $('#search2').attr('disabled',true);
    $('#query2').keyup(function(){
        if($(this).val().length !== 0)
            $('#search2').attr('disabled', false);
        else
            $('#search2').attr('disabled',true);
    });
});

$('#sametempo').change(function (e) {
    if (this.checked) {
      $('#tempogroup').hide();
    } else {
      $('#tempogroup').show();
    }
    console.log("sametempo: " + $("#sametempo").is(":checked"));
    console.log("resolution: " + $("#resolution").val());
    console.log("numerator: " + $("#numerator").val());
    console.log("thirtyseconds: " + $("#thirtyseconds").val());
    console.log("metronome: " + $("#metronome").val());
    console.log("denominator: " + $("#denominator").val());
});

$('#stoptracks').click(function(e){
  MIDIjs.stop();
  return false;
});

$('#playtracks').click(function(e) {
    console.log('Composing tracks...');

    tracks = [];
    $('input[name="track"]:checked').each(function(){
      console.log(this.value);
      tracks.push(this.value);
    });

    $.ajax({
        url : '/mashup',
        data : {
          tracks : tracks,
          hash1: hash1,
          hash2: hash2
        },
        success: function (data) {
          console.log(data);
          console.log('Gonna play it!');
          MIDIjs.play("/static/midi/mashup.mid");
          $('#downloadtracks').prop('disabled', false);
        }
    });

    return false;
});

function choose_midi1_handler(hash) {
  hash1 = hash;
  console.log("First hash: " + hash1);
  console.log("Second hash: " + hash2);
  $('#group2').show();

  // Ask hash1 tempo values
  var url = "http://grlc.io/api/midi-ld/queries/tempo_by_pattern";
  $.ajax({
    url: url,
    data : {
      pattern : "http://purl.org/midi-ld/pattern/" + hash1
    },
    headers : {
      Accept : 'application/json'
    },
    success : function (data) {
      tempo = data.results.bindings[0];
      hash1_resolution = tempo.resolution.value;
      hash1_denominator = tempo.denominator.value;
      hash1_metronome = tempo.metronome.value;
      hash1_numerator = tempo.numerator.value;
      hash1_thirtyseconds = tempo.thirtyseconds.value;
    }

  });

  return false;
}

function choose_midi2_handler(hash) {
  hash2 = hash;
  console.log("First hash: " + hash1);
  console.log("Second hash: " + hash2);
  $('#group3').show();

  var url1 = "http://grlc.io/api/midi-ld/queries/tracks_per_piece_param?pattern=http%3A%2F%2Fpurl.org%2Fmidi-ld%2Fpattern%2F" + hash1;
  var url2 = "http://grlc.io/api/midi-ld/queries/tracks_per_piece_param?pattern=http%3A%2F%2Fpurl.org%2Fmidi-ld%2Fpattern%2F" + hash2;
  var res = "";
  $.ajax({
    url : url1,
    headers : {
      Accept : 'application/json'
    },
    success : function (data) {
      //console.log(data);
      tracks = data.results.bindings;
      $.each(tracks, function(i) {
        // tracklist.push(tracks[i].track.value);
        res += "<input class='form-check-input' style='margin-right: 5px' type='checkbox' name='track' value='" + tracks[i].track.value + "' checked><a href='" + tracks[i].track.value + "' target='_blank' title='" + tracks[i].trackname.value + "'>" + tracks[i].track.value + "</a><br>";
      });
      $.ajax({
        url : url2,
        headers : {
          Accept : 'application/json'
        },
        success : function (data) {
          //console.log(data);
          tracks = data.results.bindings;
          $.each(tracks, function(i) {
            // tracklist.push(tracks[i].track.value);
            res += "<input class='form-check-input' style='margin-right: 5px' type='checkbox' name='track' value='" + tracks[i].track.value + "' checked><a href='" + tracks[i].track.value + "' target='_blank' title='" + tracks[i].trackname.value + "'>" + tracks[i].track.value + "</a><br>";
          });
          $('#checkboxes').empty();
          $('#checkboxes').append(res);
      }
    });
    }
  });



    // checks += "<input type='checkbox' name='track' value='" + r + "'>" + r + "<br>";

  // console.log(tracklist);
  // $.each(res, function(i){
  //   console.log(res);
  // });
  // var checks = "";

  // console.log(checks);

  return false;
}

function play_midi_handler(hash) {
  console.log(hash);
  $.ajax({
    url : "/convert/" + hash,
    success: function(data) {
      console.log(data);
      console.log('Gonna play it!');
      MIDIjs.play("/static/midi/" + hash + ".mid");
    }
  });
  return false;
}

$('#query').keypress(function(e){
        if(e.which == 13 && $(this).val().length !== 0){//Enter key pressed
            $('#search').click();//Trigger search button click event
        }
    });

$('#search').click(function(){
  console.log($('#query').val());
  var url = "http://grlc.io/api/midi-ld/queries/filename_search?query=" + $('#query').val();
  $.ajax({
    headers : {
      Accept : 'application/json'
    },
    url: url,
    success: function(data) {
      var res = data.results.bindings;
      var rows = "";
      console.log(res);
      $('#song1table').empty();
      $.each(res, function(i){
          var pattern = res[i].MIDIpiece.value;
          var label = res[i].wasDerivedFrom.value;
          console.log(pattern);
          console.log(label);
          var hash = pattern.substring(pattern.lastIndexOf("/") + 1, pattern.length);
          //var mid = "{{url_for('.static', filename='midi/" + hash + ".mid')}}";
          //console.log(mid);
          rows += "<tr><td><a href='" + pattern + "' target='_blank' title='" + label + "'>" + pattern + "</a></td><td><a href='#' onClick='play_midi_handler(\"" + hash + "\");return false;'>Play</a></td><td><a href='#' onClick='MIDIjs.stop();return false;'>Stop</a></td><td><a href='#' onClick='choose_midi1_handler(\"" + hash + "\");return false;'>Select</a></td></tr>";
      });
      $('#song1table').append(rows);
    }
  });

});

$('#query2').keypress(function(e){
        if(e.which == 13 && $(this).val().length !== 0){//Enter key pressed
            $('#search2').click();//Trigger search button click event
        }
    });

$('#search2').click(function(){
  console.log($('#query2').val());
  var url = "http://grlc.io/api/midi-ld/queries/patterns_by_tempo";
  var sametempo =  $("#sametempo").is(":checked");
  console.log(sametempo);
  var resolution = $("#resolution").val();
  var numerator = $("#numerator").val();
  var thirtyseconds = $("#thirtyseconds").val();
  var metronome = $("#metronome").val();
  var denominator = $("#denominator").val();
  var query = " ";
  if ($('#query2').val()) {
    query = $('#query2').val();
  }

  // if same tempo is checked, use the tempo values of hash1
  if (sametempo) {
    resolution = hash1_resolution;
    numerator = hash1_numerator;
    thirtyseconds = hash1_thirtyseconds;
    metronome = hash1_metronome;
    denominator = hash1_denominator;
  }

  console.log("query: " + query);
  console.log("resolution: " + resolution);
  console.log("denominator: " + denominator);
  console.log("metronome: " + metronome);
  console.log("numerator: " + numerator);
  console.log("thirtyseconds: " + thirtyseconds);

  // url = "http://grlc.io/api/midi-ld/queries/filename_search?query=" + $('#query2').val();
  $.ajax({
    headers : {
      Accept : 'application/json'
    },
    data : {
      resolution : resolution,
      numerator : numerator,
      thirtyseconds : thirtyseconds,
      metronome : metronome,
      denominator : denominator,
      query : query
    },
    url: url,
    success: function(data) {
      var res = data.results.bindings;
      var rows = "";
      console.log(res);
      $('#song2table').empty();
      $.each(res, function(i){
          var pattern = res[i].MIDIpiece.value;
          var label = res[i].filename.value;
          console.log(pattern);
          console.log(label);
          var hash = pattern.substring(pattern.lastIndexOf("/") + 1, pattern.length);
          //var mid = "{{url_for('.static', filename='midi/" + hash + ".mid')}}";
          //console.log(mid);
          rows += "<tr><td><a href='" + pattern + "' target='_blank' title='" + label + "'>" + pattern + "</a></td><td><a href='#' onClick='play_midi_handler(\"" + hash + "\");return false;'>Play</a></td><td><a href='#' onClick='MIDIjs.stop();return false;'>Stop</a></td><td><a href='#' onClick='choose_midi2_handler(\"" + hash + "\");return false;'>Select</a></td></tr>";
      });
      $('#song2table').append(rows);
    }
  });

});
</script>

  </body>
</html>
